body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#messages ul
{
    margin-top: 100px;
}
#messages ul li
{
    color: green;
    list-style-type: none;
}